<div [id]="task._id" *ngIf="task" [class]="'task-container task-container--'+ getCategoryBasedOnDeadline(currentDate, task.deadlineDate.toDate(), task)" cdkDrag>
    <div class='task-container__task-timeline'> 
        <p>Created: {{task.addedDate.toDate() | date }}</p>
        <p>Deadline: {{task.deadlineDate.toDate() | date}}</p>
    </div> 
    <h2 class="task-container__title">{{task.title}}</h2>
    <div class='task-container__task-description'>
        <input *ngIf='task.category !== "expired"'
        type='checkbox' name={{task.title}}
        [checked]="task.isDone"
        (click)="onChange(task)"
        class="task-container__task-description__checkbox">
        <p class="task-container__task-description__text">
            {{task.description}}
        </p>
    </div>
    <div class="task-container__edit" *ngIf="!task.isDone && task.category !== 'expired'">
        <button class="task-container__edit-btn" (click) = "goToEditTask(task)">
            <p class="task-container__edit-btn__tooltip">Edit</p>
            <fa-icon [icon] = 'faPen' size="2x" [styles]="{'color' : 'white' , 'cursor' : 'pointer'}" class="task-container__edit-btn__icon"
            ></fa-icon>
        </button>
    </div>
    <div class="task-container__badge">
        <div class="task-container__badge-item">{{task.user}}</div>
    </div>
</div>
