@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa:wght@300;400;500;600;700&display=swap');

.cdk-drag-placeholder{
    filter: blur(3px);
}


.tasks-container{
    display: flex;
    flex-flow: row;
    width: auto;
    justify-content: center;

    & .completed-tasks{
        display: flex;
        flex-direction: column;
        width: 50%;
        color: #B2D19F;
         & p{
            align-self: center;
            font-size: 30px;
            font-family: ABeeZee;
            font-weight: 900;
         }
    }

    & .todo-tasks{
        color: #D08276;
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right: 3px solid white;
        
        &__sort-container{
            display: flex;
            width: 100%;
            justify-content: space-around;
            
            & app-sort{
                width: 40%;
            }

            & app-filter{
                width: 40%;
            }
            
        }

        & p{
            align-self: center;
            font-size: 30px;
            font-family: ABeeZee;
            font-weight: 600;
         }
    }
}